/* Not usable */

.root {
    -fx-background-color: linear-gradient(to bottom left, #2320df, #207ddf, #20dcdf);
}

.text{
    -fx-text-fill: black;
}

.label{
    -fx-text-fill: #99AAB5;
}

.background {
    -fx-background-color: #23272A;
}

.searchButton {
    -fx-background-color: rgba(256, 256, 256, 0.3);
    -fx-border-color: rgba(256, 256, 256, 0.3);
}

.searchButton:hover {
    -fx-background-color: rgba(256, 256, 256, 0.2);
    -fx-border-color: rgba(256, 256, 256, 0.2);
    -fx-scale-x: 105%;
    -fx-scale-y: 105%;
    -fx-cursor: hand;
}

.searchButton:pressed {
    -fx-background-color: rgba(256, 256, 256, 0.5);
    -fx-border-color: rgba(256, 256, 256, 0.5);
}

.uploadButton {
    -fx-background-color: rgba(256, 256, 256, 0.3);
    -fx-border-color: rgba(256, 256, 256, 0.3);
}

.uploadButton:hover {
    -fx-background-color: rgba(256, 256, 256, 0.2);
    -fx-border-color: rgba(256, 256, 256, 0.2);
    -fx-scale-x: 105%;
    -fx-scale-y: 105%;
    -fx-cursor: hand;
}

.uploadButton:pressed {
    -fx-background-color: rgba(256, 256, 256, 0.5);
    -fx-border-color: rgba(256, 256, 256, 0.5);
}

.mainText {
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #000000;
    -fx-font-size: 24px;
    -fx-padding: 24px;
}

.mainTitle {
    -fx-font-weight: bold;
    -fx-font-family: "Calibri";
    -fx-text-fill: #000000;
    -fx-padding: 40px;
    -fx-font-size: 24px;
}

.contentNode{
   -fx-background-color: #2C2F33;
}

.toggle-button{
}

.toggle-button:hover{
    cursor: hand;
}

.toggle-button:selected{
    -fx-background-color: #ffae4e;
}

.element {
    -fx-background-color: #2C2F33;
    -fx-border-color: #2C2F33;
    -fx-padding: 10;
}

.button{
}

.button:hover{
    -fx-cursor: hand;
}

.elementText {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 24px;
}

.scrollPane{
    -fx-background-color: #2C2F33;
}

.tag {
    -fx-background-color: #b6c5ca;
    -fx-background-radius: 5px;
}

.tag:selected{
    -fx-background-color: #ffae4e;
}

.tag:hover {
    -fx-scale-x: 102%;
    -fx-scale-y: 102%;
}

.pictureButton {
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.pictureButton:hover {
}

.stackPane:hover{
    -fx-scale-x: 105%;
    -fx-scale-y: 105%;
}

.backButton {
    -fx-background-color: #2C2F33;
    -fx-border-color: #2C2F33;
    -fx-font-size: 12px;
    -fx-text-fill: black;
}

.backButton:hover {
    -fx-background-color: #99AAB5;
    -fx-border-color: #99AAB5;
}

.backButton:pressed {
    -fx-background-color: #ffae4e;
    -fx-border-color: #99AAB5;
}

.genericButton {
    -fx-background-color: rgba(256, 256, 256, 0);
    -fx-border-color: rgba(256, 256, 256, 0);
}

.genericButton:hover {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.confirmButton {
    -fx-background-color: green;
    -fx-border-color: green;
}

.confirmButton:hover {
    -fx-background-color: #40cf63;
    -fx-border-color: #40cf63;
}

.cancelButton {
    -fx-background-color: crimson;
    -fx-border-color: crimson;
}

.cancelButton:hover {
    -fx-background-color: #fb3659;
    -fx-border-color: #fb3659;
}

.overlayButton{
    -fx-background-color: #2C2F33;
    -fx-background-radius: 0;
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.overlayButton:hover{
    -fx-background-color: rgb(145, 145, 145);
}

